footer {
    color: #FFFFFF;
}
body{
    background-color: #121928;
}
header a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}
input[type="text"] {
    background-color: rgba(31, 41, 55, 0.6);
}
p {
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-size: 38px;
}

.heroText {
    font-size: 20px;
}

.anotherText {
    font-size: 16px;
}

.publisher {
    color: #FFFFFF;
}